body {
      font-family: Arial, sans-serif;
      margin: 40px;
      background: #f9f9f9;
    }
    .invoice {
      max-width: 700px;
      margin: auto;
      padding: 20px;
      background: #fff;
      border: 2px solid #333;
    }
    .invoice-header {
      text-align: center;
      margin-bottom: 20px;
    }
    .invoice-details,
    .client-details {
      margin-bottom: 20px;
    }
    .invoice-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    .invoice-table th,
    .invoice-table td {
      border: 1px solid #333;
      padding: 8px;
      text-align: left;
    }
    .invoice-summary {
      text-align: right;
      margin-top: 20px;
    }
    .invoice-footer {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 15px;
      font-style: italic;
    }
.botm-btn{
  background-color: rgb(149, 210, 248);
  padding: 7px;
  border-radius: 12px;
  position: fixed;
  bottom: 20px; /* adjust spacing */
  left: 50%;
  transform: translateX(-50%);
}

 